In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from datetime import date, datetime, time, timedelta
from babel.dates import format_date, format_datetime, format_time, format_timedelta, Locale
import locale                                    # para tratar de poner espanol
#locale = Locale('es', 'CL')
#locale.setlocale(locale.LC_ALL,'es_ES.UTF-8')  

import os
import runpy
from pyexcel_ods import get_data

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline

#importo sólo algunas de mis funciones, dejo otras excluídas....

In [2]:
# cargo algunos scripts que me suelen servir para análisis

In [3]:
#listo los archivos
scripts = []
for dirname, dirnames, filenames in os.walk('/home/egidio/Dropbox/Compucosas/programas py'):
    for filename in filenames:
        scripts.append(os.path.join(dirname, filename))

scripts

# los cargo
for script in scripts:
    if script[-3:] == '.py':
        exec(open(str(script)).read())

['/home/egidio/Dropbox/Compucosas/programas py/percentiles.py',
 '/home/egidio/Dropbox/Compucosas/programas py/lector_ODF.py',
 '/home/egidio/Dropbox/Compucosas/programas py/tabala_frecuencias.py',
 '/home/egidio/Dropbox/Compucosas/programas py/características_operativas_de_test.py',
 '/home/egidio/Dropbox/Compucosas/programas py/como importar',
 '/home/egidio/Dropbox/Compucosas/programas py/descripcion_univariada.py',
 '/home/egidio/Dropbox/Compucosas/programas py/__pycache__/percentiles.cpython-36.pyc',
 '/home/egidio/Dropbox/Compucosas/programas py/__pycache__/características_operativas_de_test.cpython-36.pyc',
 '/home/egidio/Dropbox/Compucosas/programas py/__pycache__/lector_ODF.cpython-36.pyc',
 '/home/egidio/Dropbox/Compucosas/programas py/__pycache__/descripcion_univariada.cpython-36.pyc',
 '/home/egidio/Dropbox/Compucosas/programas py/__pycache__/tabala_frecuencias.cpython-36.pyc',
 '/home/egidio/Dropbox/Compucosas/programas py/__pycache__/funciones_locales.cpython-36.pyc']

# Busco las BDs diponibles

Busco las BD siponibles en la carpeta./BD, las que buscaré y las juntaré en un solo archivo

In [4]:
datos = []
for dirname, dirnames, filenames in os.walk('../BD llamadas/'):
    for filename in filenames:
        datos.append(os.path.join(dirname, filename))
datos

['../BD llamadas/CDR 2019-2.csv',
 '../BD llamadas/CDR 2017-1.csv',
 '../BD llamadas/CDR 2018-3.csv',
 '../BD llamadas/CDR 2019-3.csv',
 '../BD llamadas/CDR 2018-1.csv',
 '../BD llamadas/CDR 2020-mayo.csv',
 '../BD llamadas/CDR 2019-1.csv',
 '../BD llamadas/CDR 2018-2.csv',
 '../BD llamadas/CDR 2017-2.csv',
 '../BD llamadas/CDR 2020-1.csv',
 '../BD llamadas/Bases de datos CDR.md']

selecciono algunos...

In [5]:
archivos_llamadas = [f for f in datos if '.csv' in f]
archivos_llamadas

['../BD llamadas/CDR 2019-2.csv',
 '../BD llamadas/CDR 2017-1.csv',
 '../BD llamadas/CDR 2018-3.csv',
 '../BD llamadas/CDR 2019-3.csv',
 '../BD llamadas/CDR 2018-1.csv',
 '../BD llamadas/CDR 2020-mayo.csv',
 '../BD llamadas/CDR 2019-1.csv',
 '../BD llamadas/CDR 2018-2.csv',
 '../BD llamadas/CDR 2017-2.csv',
 '../BD llamadas/CDR 2020-1.csv']

dejo todo lo que tengo como un solo objeto: BD

In [6]:
BD = pd.DataFrame()

Los meto todos en una sola BD

In [19]:
for cdr in archivos_llamadas:
    dum = pd.read_csv(cdr ,  encoding = "ISO-8859-1") 
    dum.head(2)
    BD = BD.append(dum)

,calldate,clid,src,dst,dcontext,channel,dstchannel,lastapp,lastdata,duration,billsec,disposition,amaflags,accountcode,uniqueid,userfield
0,2019-08-31 23:59:48,934194911 <934194911>,934194911,131,ext-queues,DAHDI/1-1,SIP/201-0001015b,Queue,"131,tr,,,,,,,,",92,91,ANSWERED,3,NaN,1.567310e+09,NaN
1,2019-08-31 23:59:37,208,208,9933766729,from-internal,SIP/208-00010159,DAHDI/2-1,Dial,"DAHDI/2/933766729,300,",38,34,ANSWERED,3,NaN,1.567310e+09,NaN

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,calldate,clid,src,dst,dcontext,channel,dstchannel,lastapp,lastdata,duration,billsec,disposition,amaflags,accountcode,uniqueid,userfield
0,2017-06-30 23:59:29,SAMU 201 <201>,201,205,from-internal,SIP/201-000022aa,SIP/205-000022ab,Dial,"SIP/205,,trI",29,24,ANSWERED,3,NaN,1.498882e+09,NaN
1,2017-06-30 23:58:55,SAMU 201 <201>,201,205,from-internal,SIP/201-000022a8,SIP/205-000022a9,Dial,"SIP/205,,trI",2,0,NO ANSWER,3,NaN,1.498882e+09,NaN

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,calldate,clid,src,dst,dcontext,channel,dstchannel,lastapp,lastdata,duration,billsec,disposition,amaflags,accountcode,uniqueid,userfield
0,2018-12-31 23:58:46,SAMU 202 <202>,202,212,from-internal,SIP/202-00020b5e,SIP/212-00020b5f,Dial,"SIP/212,,trI",27,24,ANSWERED,3,NaN,1.546308e+09,NaN
1,2018-12-31 23:58:31,0995107567 <0995107567>,0995107567,131,ext-queues,DAHDI/1-1,SIP/201-00020b5d,Queue,"131,tr,,,,,,,,",370,369,ANSWERED,3,NaN,1.546308e+09,NaN

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,calldate,clid,src,dst,dcontext,channel,dstchannel,lastapp,lastdata,duration,billsec,disposition,amaflags,accountcode,uniqueid,userfield
0,2019-12-31 23:59:38,205,205,9961772383,from-internal,SIP/205-00045d0f,DAHDI/2-1,Dial,"DAHDI/2/961772383,300,",283,279,ANSWERED,3,NaN,1.577848e+09,NaN
1,2019-12-31 23:58:57,972951556 <972951556>,972951556,131,ext-queues,DAHDI/6-1,SIP/203-00045d0e,Queue,"131,tr,,,,,,,,",618,617,ANSWERED,3,NaN,1.577848e+09,NaN

,calldate,clid,src,dst,dcontext,channel,dstchannel,lastapp,lastdata,duration,billsec,disposition,amaflags,accountcode,uniqueid,userfield
0,2018-04-30 23:58:20,0959286957 <0959286957>,959286957.0,131,ext-queues,DAHDI/1-1,SIP/202-000001a6,Queue,"131,t,,,,,,,,",27,26,ANSWERED,3,NaN,1.525144e+09,NaN
1,2018-04-30 23:58:05,SAMU 203 <203>,203.0,205,from-internal,SIP/203-000001a4,SIP/205-000001a5,Dial,"SIP/205,,trI",293,288,ANSWERED,3,NaN,1.525143e+09,NaN

,calldate,clid,src,dst,dcontext,channel,dstchannel,lastapp,lastdata,duration,billsec,disposition,amaflags,accountcode,uniqueid,userfield
0,2020-05-23 23:12:29,SAMU 204 <204>,204.0,205,from-internal,SIP/204-00007024,SIP/205-00007025,Dial,"SIP/205,,trI",8,0,NO ANSWER,3,NaN,1.590290e+09,NaN
1,2020-05-23 23:11:51,979689143 <979689143>,979689143.0,131,ext-queues,DAHDI/7-1,SIP/202-00007023,Queue,"131,tr,,,,,,,,",21,20,ANSWERED,3,NaN,1.590290e+09,NaN

,calldate,clid,src,dst,dcontext,channel,dstchannel,lastapp,lastdata,duration,billsec,disposition,amaflags,accountcode,uniqueid,userfield
0,2019-04-30 23:53:49,569350562 <569350562>,569350562.0,131,ext-queues,DAHDI/7-1,SIP/204-00001db4,Queue,"131,t,,,,,,,,",523,522,ANSWERED,3,NaN,1.556683e+09,NaN
1,2019-04-30 23:52:43,950189234 <950189234>,950189234.0,131,ext-queues,DAHDI/4-1,SIP/200-00001db1,Queue,"131,t,,,,,,,,",32,31,ANSWERED,3,NaN,1.556683e+09,NaN

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,calldate,clid,src,dst,dcontext,channel,dstchannel,lastapp,lastdata,duration,billsec,disposition,amaflags,accountcode,uniqueid,userfield
0,2018-08-31 23:59:31,0997159155 <0997159155>,9.97159e+08,131,ext-queues,DAHDI/1-1,SIP/202-0000955b,Queue,"131,t,,,,,,,,",30,29,ANSWERED,3,NaN,1.535771e+09,NaN
1,2018-08-31 23:41:13,SAMU 200 <200>,200,208,from-internal,SIP/200-00009555,SIP/208-00009556,Dial,"SIP/208,,trI",133,124,ANSWERED,3,NaN,1.535770e+09,NaN

,calldate,clid,src,dst,dcontext,channel,dstchannel,lastapp,lastdata,duration,billsec,disposition,amaflags,accountcode,uniqueid,userfield
0,2017-12-31 23:57:05,SAMU 201 <201>,201.0,208,from-internal,SIP/201-00007cb2,SIP/208-00007cb3,Dial,"SIP/208,,trI",9,6,ANSWERED,3,NaN,1.514772e+09,NaN
1,2017-12-31 23:56:07,0977974236 <0977974236>,977974236.0,131,ext-queues,DAHDI/1-1,SIP/203-00007cb1,Queue,"131,t,,,,,,,,",53,52,ANSWERED,3,NaN,1.514772e+09,NaN

,calldate,clid,src,dst,dcontext,channel,dstchannel,lastapp,lastdata,duration,billsec,disposition,amaflags,accountcode,uniqueid,userfield
0,2020-04-30 23:59:41,5692065600 <5692065600>,5.692066e+09,131,ext-queues,DAHDI/6-1,NaN,Queue,"131,tr,,,,,,,,",7,6,ANSWERED,3,NaN,1.588306e+09,NaN
1,2020-04-30 23:59:40,966213874 <966213874>,9.662139e+08,131,ext-queues,DAHDI/7-1,SIP/206-00025ae8,Queue,"131,tr,,,,,,,,",246,245,ANSWERED,3,NaN,1.588306e+09,NaN

In [20]:
BD.info()
BD = BD.sort_values('calldate')
BD = BD.reset_index(drop=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3474621 entries, 0 to 91457
Data columns (total 16 columns):
 #   Column       Dtype
---  ------       -----
 0   calldate     object
 1   clid         object
 2   src          object
 3   dst          object
 4   dcontext     object
 5   channel      object
 6   dstchannel   object
 7   lastapp      object
 8   lastdata     object
 9   duration     int64
 10  billsec      int64
 11  disposition  object
 12  amaflags     int64
 13  accountcode  float64
 14  uniqueid     float64
 15  userfield    float64
dtypes: float64(3), int64(3), object(10)
memory usage: 450.7+ MB

# Comienzo a arreglar base de datos

dejo como timestamp el calldate

In [ ]:
BD.calldate = pd.to_datetime(BD.calldate)

dejo como texto en número el calldate

In [ ]:
dumm = BD.loc[BD.calldate > pd.to_datetime('2020-05-10 15:30')]
dumm
dumm.to_excel('../BD llamadas/dum.xls')

In [ ]:
BD.info()

In [ ]:
BD.columns

In [ ]:
BD = BD[['calldate', 'src', 'dst', 'channel',
        'dstchannel', 'lastapp', 'duration', 'billsec', 'disposition']]
BD.head()

# Arreglo nombres

In [ ]:
BD.columns = ['Fecha', 'Origen_n', 'Destino_n', 'Origen_canal', 'Destino_canal',
              'Ultima', 'Duracion', 'Cobro', 'Estado']

In [ ]:
BD.head()

# Corrijo la dispersión de la duración de la llamada por percentiles y

In [ ]:
BD.Duracion.describe()
inf = 1
sup = BD.Duracion.quantile(0.999)
fixed = ((BD.Duracion>=inf) &
             (BD.Duracion<=sup)
        )
print('rango sup es:', sup, 'el inferior es: ', inf)
print('Cantidad de llamadas <0: ', BD.loc[BD.Duracion<0].Fecha.count())

print('\n')

print('Cantidad de valores corregidos')
fixed.value_counts()
(BD.loc[fixed].Duracion/60).hist()
plt.title('Duración en minutos de las llamadas corregidas')

## Arreglo: Fechas

In [ ]:
BD['Fecha'].describe()

In [ ]:
BD.Fecha.describe()
BD.groupby(BD.Fecha.dt.to_period('M')).Fecha.count().plot(grid=True)
plt.ylim([19000,40000])

# Cambio los nombres de los estados de las llamadas

In [ ]:
BD = BD.replace({"Estado": {'ANSWERED': 'Contestada',
                            'BUSY': 'Ocupado',
                            'NO ANSWER': 'Sin respuesta'}
                }
               )

# ordeno lo que son los los números de origen y los canales

extraigo del tipo de canal el n SIP de destino

In [ ]:
#extraigo del tipo de canal el n SIP de destino
BD['Destino_nSIP'] = BD['Destino_canal'].str.split('\D',expand=True)[4]

#extraigo el tipo de canal: SIP/trunk
BD.loc[
    BD['Origen_canal'].str.contains('SIP') == True,
    'Origen_tipo'] = 'SIP'
BD.loc[
    BD['Origen_canal'].str.contains('DAHDI') == True,
    'Origen_tipo'] = 'Trunk'
BD.loc[
    BD['Destino_canal'].str.contains('SIP') == True,
    'Destino_tipo'] = 'SIP'
BD.loc[
    BD['Destino_canal'].str.contains('DAHDI') == True,
    'Destino_tipo'] = 'Trunk'

Defino el tipo de llamada registrada según origen y destino

In [ ]:
BD.loc[(BD.Origen_tipo == 'Trunk') & (BD.Destino_n == '131'),
      'Tipo_llamada'] = 'Hacia SAMU'
BD.loc[(BD.Origen_tipo == 'SIP') & (BD.Destino_tipo == 'Trunk'),
      'Tipo_llamada'] = 'Desde SAMU'
BD.loc[(BD.Origen_tipo == 'SIP') & (BD.Destino_tipo == 'SIP'),
      'Tipo_llamada'] = 'Entre SAMU'

In [ ]:
BD = BD[['Fecha', 'Tipo_llamada',
           'Origen_tipo', 'Destino_tipo',
            'Origen_n', 'Destino_n', 'Destino_nSIP',
           'Estado', 'Duracion', 'Cobro']]
BD.head()

agrego el 'fin de la llamada'

In [ ]:
BD['Fin'] = BD.Fecha + pd.to_timedelta(BD.Duracion, 'S')

Traro de definir las llamadas perdidas

In [ ]:
BD.loc[
    (BD.Tipo_llamada == 'Hacia SAMU') & (BD.Destino_nSIP.isna() == True),
    'Estado'] = 'Perdida'

tab_frec(BD.Estado)

BD.loc[
    (BD.Estado == 'Perdida') & (BD.Duracion<10),
    'Estado'] = 'No Válida'
tab_frec(BD.Estado)

In [ ]:
a_categ = ['Tipo_llamada', 'Origen_tipo', 'Destino_tipo', 'Estado']
a_int   = ['Origen_n','Destino_n', 'Destino_nSIP']
for x in a_categ:
    BD[x] = BD[x].astype('category')
for x in a_int:
    BD[x] = pd.to_numeric(BD[x],errors='coerce')

In [ ]:
dumm = BD.loc[BD.Fecha > pd.to_datetime('2020-03-10 15:30')]
dumm.head()
dumm.to_excel('../BD llamadas/dum2.xls')

In [ ]:
SIP_131 = [200, 201, 202, 203, 204, 206, 210, 214]
SIP_regulador = [205, 209, 212]
SIP_despachador = [207, 208]

# Esporto la BD

In [ ]:
BD.to_pickle('./llamadas.pkl')

Cooro el identificador de traspasos

In [ ]:
#exec(open('./Identificador traspasos.py').read())

## Selecciono aquellas llamadas que son el resultado de un traspaso

busco aquellas llamadas que fueron traspasadas a otro teléfono considerando la duración de la llamada.....

In [ ]:
# lista_llamdas_traspasadas = []
# inicio = datetime.now()
# inicio
# dum = BD.copy()
# for x in dum.index.values:
#     print (x)
#     if dum.loc[x].Tipo_llamada != 'Entre SAMU':
#         recive = dum.loc[x].Destino_nSIP
#         rango = dum.loc[(dum.Fecha < dum.loc[x].Fin) & (dum.Fecha > dum.loc[x].Fecha)]
#         #rango
#         if (rango.shape[0] !=0):
#             #(rango.Tipo_llamada == 'Entre SAMU')
#             print('inicio shape ')
#             print('SIP:', recive)
#             rango.shape
            
#             indice = list(rango.loc[
#                 (rango.Origen_n == recive) &
#                 (rango.Estado == 'Contestada')].tail(1).index
#                          )
# #             if indice.shape[0] !=0:
#             if len(indice) !=0:
#                 print('INGRESADO!!', dum.loc[x].Fecha)
#                 lista_llamdas_traspasadas.append(indice[0])
#             print('fin shape ')
#         print('------------------------------------')
#     print('next')
# len(lista_llamdas_traspasadas)
# datetime.now() - inicio

In [ ]:
# BD.loc[BD.index.isin(lista_llamdas_traspasadas), 'Trapaso'] = 'Si'
# BD.loc[BD.index.isin(lista_llamdas_traspasadas)== False, 'Trapaso'] = 'No'

In [ ]:
# BD.Trapaso.value_counts()

# Datos generales

In [ ]:
BD.columns

In [ ]:
BD.Fecha.describe()
BD.groupby(BD.Fecha.dt.to_period('d')).Fecha.count().plot(grid=True)

In [ ]:
BD.head()
tab_frec(BD.Tipo_llamada)
tab_frec(BD.Estado)